In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\nithi\Downloads\archive (4)\sales_data_sample.csv",encoding="latin1")
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24-02-2003,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07-05-2003,Shipped,2,5,2003,...,26471555,59 rue de l'Abbaye,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01-07-2003,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25-08-2003,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,02-12-2004,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,31-01-2005,Shipped,1,1,2005,...,981-443655,Torikatu 38,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,01-03-2005,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,28-03-2005,Shipped,1,3,2005,...,61776555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,06-05-2005,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

We wrote this code to clean and standardize the PHONE column, which originally had inconsistent formats, missing 
country codes, and unwanted characters. Using a country-specific dictionary, the function removes non-digit characters,
adjusts the number to the correct local length by trimming or padding with zeros, and adds the appropriate country code. 
Finally, it converts all numbers into a consistent international format +<CountryCode><Number>. This ensures the phone
numbers are clean, comparable across countries, and ready for reporting or analysis.

Convert to String:
df['PHONE'].astype(str) ensures that phone numbers are treated as text so leading zeros aren’t lost.

Create Country Dictionary:
country_info contains each country’s country code and expected phone number length.

Function normalize_and_add_code:

Remove unwanted characters: filter(str.isdigit, ...) strips out spaces, dashes, brackets, etc.

Find country information: Looks up country_info using COUNTRY column.

Fix number length:

If number is too long, keeps the last n digits.

If number is too short, pads it with leading zeros.

Add country code: Always prepends +<countrycode> to make it internationally standard.

Apply to DataFrame:
df.apply(..., axis=1) applies the function row by row, producing a new series with cleaned phone numbers.

In [12]:
df1 = df['PHONE'].astype(str)

# Country info: country code and local phone length
country_info = {
    'USA': {'code': '1', 'length': 10},
    'France': {'code': '33', 'length': 9},
    'Norway': {'code': '47', 'length': 8},
    'Australia': {'code': '61', 'length': 9},
    'Finland': {'code': '358', 'length': 9},
    'Austria': {'code': '43', 'length': 9},
    'UK': {'code': '44', 'length': 10},
    'Spain': {'code': '34', 'length': 9},
    'Sweden': {'code': '46', 'length': 9},
    'Singapore': {'code': '65', 'length': 8},
    'Canada': {'code': '1', 'length': 10},
    'Japan': {'code': '81', 'length': 10},
    'Italy': {'code': '39', 'length': 10},
    'Denmark': {'code': '45', 'length': 8},
    'Belgium': {'code': '32', 'length': 9},
    'Philippines': {'code': '63', 'length': 10},
    'Germany': {'code': '49', 'length': 10},
    'Switzerland': {'code': '41', 'length': 9},
    'Ireland': {'code': '353', 'length': 9},
}

# Normalize phone numbers in-place
def normalize_and_add_code(row):
    phone = ''.join(filter(str.isdigit, str(row['PHONE'])))  # remove non-digits
    country = row['COUNTRY']
    
    info = country_info.get(country)
    if not info:
        return phone  # keep as is if country not found
    
    length = info['length']
    code = info['code']
    
    # Trim to local length if too long
    if len(phone) > length:
        phone = phone[-length:]
    # Pad with zeros if too short
    elif len(phone) < length:
        phone = phone.zfill(length)
    
    # ALWAYS add country code
    return f"+{code}{phone}"

df1 = df.apply(normalize_and_add_code, axis=1)

In [13]:
df1

0        +12125557818
1        +33026471555
2        +33146627555
3        +16265557265
4        +16505551386
            ...
2818     +34915559444
2819    +358981443655
2820     +34915559444
2821     +33061776555
2822     +16175559555
Length: 2823, dtype: object

In [8]:
pd.set_option('display.max_columns', 25)

In [14]:
df["PHONE"] = df1

In [15]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24-02-2003,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,+12125557818,897 Long Airport Avenue,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07-05-2003,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,+33026471555,59 rue de l'Abbaye,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01-07-2003,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33146627555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25-08-2003,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,+16265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,+16505551386,7734 Strong St.,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,02-12-2004,Shipped,4,12,2004,Ships,54,S72_3212,Euro Shopping Channel,+34915559444,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,31-01-2005,Shipped,1,1,2005,Ships,54,S72_3212,"Oulu Toy Supplies, Inc.",+358981443655,Torikatu 38,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,01-03-2005,Resolved,1,3,2005,Ships,54,S72_3212,Euro Shopping Channel,+34915559444,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,28-03-2005,Shipped,1,3,2005,Ships,54,S72_3212,Alpha Cognac,+33061776555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,06-05-2005,On Hold,2,5,2005,Ships,54,S72_3212,Gifts4AllAges.com,+16175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

### We used this code to fill missing values in the POSTALCODE column for specific cities where the data was incomplete. A mapping dictionary (city_postal_map) was created to store the correct postal codes for cities like San Francisco and Los Angeles. Using df.apply(), we checked each row and replaced null postal codes with the mapped value if the city matched. This step ensured that all records for these cities have accurate postal codes, improving data completeness and reliability.

In [17]:
# Mapping of city -> postal code for missing values
city_postal_map = {
    'San Francisco': '94103',
    'Los Angeles': '90001'
}

# Fill missing postal codes directly in df
df['POSTALCODE'] = df.apply(
    lambda row: city_postal_map[row['CITY']] if pd.isna(row['POSTALCODE']) and row['CITY'] in city_postal_map else row['POSTALCODE'],
    axis=1
)

In [18]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24-02-2003,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,+12125557818,897 Long Airport Avenue,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07-05-2003,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,+33026471555,59 rue de l'Abbaye,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01-07-2003,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33146627555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25-08-2003,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,+16265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,+16505551386,7734 Strong St.,San Francisco,CA,94103,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,02-12-2004,Shipped,4,12,2004,Ships,54,S72_3212,Euro Shopping Channel,+34915559444,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,31-01-2005,Shipped,1,1,2005,Ships,54,S72_3212,"Oulu Toy Supplies, Inc.",+358981443655,Torikatu 38,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,01-03-2005,Resolved,1,3,2005,Ships,54,S72_3212,Euro Shopping Channel,+34915559444,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,28-03-2005,Shipped,1,3,2005,Ships,54,S72_3212,Alpha Cognac,+33061776555,1 rue Alsace-Lorraine,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,06-05-2005,On Hold,2,5,2005,Ships,54,S72_3212,Gifts4AllAges.com,+16175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [19]:
df.to_excel('updated_dataset.xlsx', index=False)

In [21]:
df["COUNTRY"].unique()

array(['USA', 'France', 'Norway', 'Australia', 'Finland', 'Austria', 'UK',
       'Spain', 'Sweden', 'Singapore', 'Canada', 'Japan', 'Italy',
       'Denmark', 'Belgium', 'Philippines', 'Germany', 'Switzerland',
       'Ireland'], dtype=object)

In [22]:
print(df.columns)

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE'],
      dtype='object')